
* {
	box-sizing: border-box;

	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.content {
	position: absolute;
cursor: url(chalk.png),auto;
	width:100%;
	height: 100%;
}

.logo-wrap {
	min-height: 600px;
	height: 100%;

	
    width: 100%;
    position: relative;
}

#bottom1,#bottom2,
#top1, #top2,#top3,
#middle1, #middle2, #rose1{
	position:absolute;
	width: 4%;
	height: 4%;
	min-width: 50px;

	
}
#top1{
	top:60%;
	left: 20%;
}
#top2{
			-ms-transform: rotate(55deg); /* IE 9 */
    -webkit-transform: rotate(55deg); /* Chrome, Safari, Opera */
    transform: rotate(55deg);
	top:45%;
	left: 30%;
}
#top3{
	top:35%;
	left: 10%;
		-ms-transform: rotate(-15deg); /* IE 9 */
    -webkit-transform: rotate(-15deg); /* Chrome, Safari, Opera */
    transform: rotate(-15deg);
}
#bottom1{
	top:10%;
	left: 70%;
			-ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
}
#bottom2{
	top:5%;
	left: 35%;
	-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}
#middle1{
	left: 30%;
	top:70%;
		-ms-transform: rotate(30deg); /* IE 9 */
    -webkit-transform: rotate(30deg); /* Chrome, Safari, Opera */
    transform: rotate(30deg);
}
#middle2{
	left: 35%;
	top:75%;
		-ms-transform: rotate(40deg); /* IE 9 */
    -webkit-transform: rotate(40deg); /* Chrome, Safari, Opera */
    transform: rotate(40deg);
}
#rose1{
	right: 35%;
	top:90%;
	width: 4%;
	height: 4%;
	min-width: 50px;
}
#dragon{
	position: absolute;
	opacity: 0.7s;
	bottom: 0;
	right: 13%;
	min-width: 90px;

}
#flowerA, #flowerB{
	opacity: 0;
}
#sleep{
	bottom: 0;
		width: 50%;
		position: absolute;

}
#welcome,#resume, #learn-more, #wel-title{
	
opacity: 0;
font-family: 'Architects Daughter', cursive;
width: 50%;
 color: white;
  position: absolute;
  text-align: center;
  	font-style: normal;
	font-size: 20px;
	padding: 10px;
	left: 25%;
}
#welcome a{
	text-decoration: none;
	color: white;
}
#welcome a:hover, #resume a:hover, #learn-more a:hover{
	text-decoration: none;
	font-style: italic;	
	cursor: pointer;
}
#welcome{
top: 60%;
}
#resume, #resume a{
	color: white;
	top:55%;
}
#learn-more, #learn-more a{
	color: white;
	top:55%;
	cursor: pointer;
}
#wel-title{
	min-width: 100%;
	left: 0;
	font-size: 35px;
	top:30%;
	text-transform: uppercase;
}
@media (max-width: 600px ) {
#wel-title{
	font-size: 25px;
}
}


/* buttons */
h2.button {
	background-color: #b5287b;
	padding: 5px 8px;
	margin: 0 3px;
	border-radius: 5px;
	display: inline-block;
	text-transform: uppercase;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 14px;
	letter-spacing: 2px;
	color: #f7f2ec;
	cursor: pointer;
}

h2.button:hover {
	background-color: #f7f2ec;
	color: #cc2e8b;
}

h2.button.inactive {
	background-color: #b5287b;
	color: #cc2e8b;
	cursor: default;
}


/* slider */
.range-slider .input-range {
	-webkit-appearance: none;
	width: 300px;
	height: 8px;
	border-radius: 4px;
	background: rgb(181, 40, 123);
	outline: none;
}

.range-slider .input-range::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #f7f2ec;
	border: 3px solid #cc2e8b;
	cursor: pointer;
}

.range-slider .input-range::-moz-range-thumb {
	width:20px;
	height: 20px;
	border: 0;
	border-radius: 50%;
	background: #353535;
	cursor: pointer;
}

.range-slider .input-range:active::-moz-range-thumb {
	background: #e06161;
}

.range-slider {
	bottom: 15%;
	position: absolute;
	left: 50%;
	margin-left: -150px;
}

::-moz-range-track {
	background: #ccc;
	border: 0;
}

input::-moz-focus-inner {
	border: 0;
}