#gallery{
	width: 100%;
	height: auto;
	background-color: black;	
	background-image: url(../images/texture.svg);
	text-align: center;
	font-family: 'Architects Daughter', cursive;
	font-size: 15px;
	padding-top: 1%;
	color:#e8e8e8;
	
	}
.show-photo{
	padding-left: 6px;
}
.time-title{
	text-align: center;
	width: 30%;
	font-size: 30px;
	margin-left: 35%;
	margin-top: 5%;
}
.gallery-title{
	word-spacing: 4px;
	text-align: center;
	color: white;
	font-variant: small-caps;
	padding: 3.5% 0;
	line-height: 40px;
	font-size: 24px;
	z-index: 1000;
}
.gallery-title em{
	font-variant: normal;
	padding: 3%;
	font-size: 20px;
}
.gallery-title a{
	text-decoration: none;
	color: black;
}
.gallery-title a:hover, .gallery-title a:visited{
	color: gray;
}

#bridge{

	position: absolute;
	left: 0;
		width: 30%;
}
#footer{
	width: 100%;
	   background: #181818;
    box-shadow: 0px 0px 5px 1px black;
  min-height: 100px;
  height: auto;

    background-image: url(../images/Dskyline.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

}
.social-icon{
	  font-size: 15px;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 1.5px;
  text-align: center;
  color: white;
  padding: 1% 0 4% 0;
   font-family: 'Architects Daughter', cursive; 

}
.social-icon img{
   padding: 1% 2%;
   width: 6%;
   min-width: 30px;
 }
  #footer a{
  	text-decoration: none;
  	color:white;
  }

.effect-parent{
	display: none;
}

  .thanks{
  	width: 100%;
  	min-height: 530px;
    padding-bottom: 3%;
     }

    .layer1, .layer2{
    	padding: 3%;
    	text-align: left;
    	text-indent: 4px;
    	line-height: 33px;
    	background-size: 100% 100%;
    	background-repeat: no-repeat;
       	position: absolute;
       	font-size: 18px;
       	color: :#e8e8e8;
       	opacity: 0;
       	word-wrap: break-word;
    }
.layer1 a, .layer2 a{
	color: white;
	text-decoration: none;
}
  #pad1{
  	background-image: url(../images/letter.gif);
  	background-position: bottom right;
  }
   #pad2{
  	background-image: url(../images/pad2.png);

  }
  #pad2:before, #pad2-2:before, #pad3:before{
  	content:'\201C';
  	color:white;
  	font-size: 30px;
 }


 
     #pad2-2{
  	background-image: url(../images/pad2-2.png);

  }
       #pad3{
  	background-image: url(../images/pad3.png);

  }
         #pad4{
  	background-image: url(../images/pad4.gif);
  	opacity: 0.8;

  }
  #cf {
  	padding-top: 4%;
  position:relative;
  margin:0 auto;
  width: 100%;
}
.top {
	width: 75%;
	left: 12.5%;
	position: absolute;
}
.bottom{
	position: absolute;
	left: 25%;
}


.top {
animation-name: FadeOut;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
}
  @keyframes FadeOut {
  0% {
  opacity:1;
}
30% {
opacity:1;
}
75% {
opacity:0;
}
100% {
opacity:0;
}
}

  @keyframes FadeIn {
  0% {
  opacity:0;
}
30% {
opacity:0;
}
75% {
opacity:1;
}
100% {
opacity:1;
}
}


.bottom{
	animation-name: FadeIn;
animation-timing-function: ease-in-out;
animation-iteration-count: infinite;
animation-duration: 4s;
animation-direction: alternate;
}
